<div>
  <div class="d-flex w-100 justify-content-between">
    <div class="mb-3">
      <label for="idProduct" class="form-label">Podaj id</label>
      <input
        type="text"
        class="form-control"
        [value]="id()"
        (input)="handleInput($event)"
        aria-describedby="idProduct"
      />
      <div class="form-text text-danger custom-height">
        @if (isError()) { Podaj poprawną długość tekstu }
      </div>
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="viewOnly"
        (change)="togglePermission($event)"
      />
      <label class="form-check-label" for="viewOnly">isPreorder</label>
    </div>
  </div>
  @if (kinguinOfferData().length) {
  <table class="table table-hover table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">productImageUrl</th>
        <th scope="col">productName</th>
        <th scope="col">seller.name</th>
        <th scope="col">price</th>
        <th scope="col">activeStockNumber</th>
      </tr>
    </thead>

    <tbody>
      @for (item of kinguinOfferData(); track item) {
      <tr
        [class.disabled]="!hasPermission('CAN_VIEW_MODAL')"
        [attr.data-bs-toggle]="hasPermission('CAN_VIEW_MODAL') ? 'modal' : null"
        data-bs-target="#staticBackdrop"
        (click)="hasPermission('CAN_VIEW_MODAL') && handleSelect(item)"
      >
        <td>
          <img class="img-thumbnail" [src]="item.productImageUrl" />
        </td>
        <td>{{ item.productName }}</td>
        <td>{{ item.seller.name }}</td>
        <td>{{ item.price.amount / 100 }}</td>
        <td>{{ item.activeStockNumber }}</td>
      </tr>

      }
    </tbody>
  </table>
  } @else {
  <p class="lead">Nie znaleziono produktów o podanym id</p>
  }
  <app-form-modal
    [product]="selectedItem()"
    [listProducts]="kinguinOfferData()"
  />
</div>
